body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}

img {
  display: block;
}

/* #region Navigation */

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-contact:hover,
.nav-contact:focus {
  color: #404bbf;
}

.nav-link.studio {
  color: #404bbf;
}

.nav-link.studio::after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  margin-top: 20px;
  margin-bottom: 0;
  position: absolute;
  left: 0; /*?*/
  bottom: -1px; /*?*/
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo .logo-dark {
  color: #2e2f42;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header .container {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  justify-content: space-between;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-list {
  display: flex;
  gap: 40px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.contact-list {
  display: flex;
  gap: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
}

.address-list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-contact {
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Hero */

.section.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobackground.jpg);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .section.hero {
    background-image: url(../images/herobackground@2x.jpg);
  }
}

.hero-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 496px;
  margin: 0 auto;
}

.order-btn {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #000000;
  min-width: 169px;
  height: 56px;
  border: none;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.section.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section.hero .container {
  display: block;
}

/* #endregion */

/* #region Advantages */

.antenna-icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}

.small-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.section.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #endregion */

/* #region Our team */

.team-social-list-item {
  width: 40px;
  height: 40px;
}

.team-social-list {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  gap: 24px;
}

.team-social-icon {
  fill: #f4f4fd;
}

.socoal-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socoal-icon-link:hover,
.socoal-icon-link:focus {
  background-color: #404bbf;
}

.section.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list-item {
  background-color: #ffffff;
  /* padding-bottom: 32px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section.our-team .container {
  display: block;
}

.team-list {
  display: flex;
  gap: 24px;
}

.info {
  padding: 32px 0 32px;
}

.info .small-heading {
  text-align: center;
  margin-bottom: 8px;
}

.info .text {
  text-align: center;
}

/* #endregion */

/* #region Portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.section.our-portfolio .container {
  display: block;
}

.section.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.app-info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc; */
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.image-to-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

/* #endregion */

/* #region Footer */

.logo-light {
  color: #f4f4fd;
}

.page-footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer .container {
  display: flex;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.social-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.logo-and-text-card {
  margin-right: 120px;
}

.team-social-list.footer {
  display: flex;
  gap: 16px;
}

.socoal-icon-link.footer:hover,
.socoal-icon-link.footer:focus {
  background-color: #31d0aa;
}

.subscribe-wrapper {
  margin-left: 96px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-enter {
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.send-icon {
  fill: #ffffff;
  align-self: center;
  margin-left: 16px;
}

.btn-text {
}

/* #endregion */

/* #region Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
  fill: #ffffff;
}
.input-wrapper {
  margin-bottom: 8px;
}

.input-wrapper.comment {
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;

  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.input-icon-positioning {
  position: relative;
}
.form-input-enter {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-enter:focus + .form-icon {
  fill: #4d5ae5;
}

.form-input-enter:focus {
  border: 1px solid #4d5ae5;
}

.form-comment {
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.form-comment:focus {
  border: 1px solid #4d5ae5;
}

.checkbox-terms-btn {
}
.checkbox-terms-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox-terms {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-terms-btn:checked + .checkbox-terms-text > .custom-checkbox-terms {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  border: none;
  fill: #f4f4fd; /*?*/
}

.checkbox-terms-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-terms-btn:checked
  + .checkbox-terms-text
  .custom-checkbox-terms
  .checkbox-terms-icon {
  fill: #f4f4fd;
}

.link-tems-conds {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  cursor: pointer;
}

.terms-conditions-wrapper {
  margin-bottom: 24px;
}

.form-submit-btn {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-submit-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* #endregion */
